// 1 is the lightest shade, the higher the number suffix -> the darker the shade

$bluegrey-dark-1: #8690AA;
$bluegrey-dark-2: #646D85;
$bluegrey-dark-3: #4C546A;
$bluegrey-dark-4: #363D50;
$bluegrey-dark-5: #242937;
$bluegrey-dark-6: #1B1F2B;

$off-white: #FBFAF8;
$grey-0: #E5E3E0;
$grey-1: #BEBBB6;
$grey-2: #7F7D79;
$grey-3: #464542;

$green-0: #D5E5B8;
$green-1: #BDD297;
$green-2: #A1BA72;
$green-3: #89A457;
$green-4: #6E883D;
$green-5: #4E6425;
$green-6: #314212;

$khaki-1: #E7E0D2;
$khaki-2: #D3CAB8;
$khaki-3: #B1A58D;
$khaki-4: #8A7C62;

$rust-1: #C08E7A;
$rust-2: #A8684E;
$rust-3: #8E4629;
$rust-4: #763116;
$rust-5: #5E2109;
$rust-6: #481502;