@import './colors';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

.App {
    background: linear-gradient(0deg, #FAF8F5 25%, $bluegrey-dark-4 25%);
    width: 100%;
    min-height: 100vh;
}

.flex-group {
    display: flex;
}

.content-space-between {
  justify-content: space-between;
}

.content-center {
  justify-content: center;
}

.logo {
    font-family: futura;
    padding: 0 .75em;
    font-size: 32px;
    span {
        font-weight: 300;
    }
}

.header-1 {
  font-size: 32px;
  color: $dark-grey;
}

.header-2 {
  font-size: 24px;
  color: $dark-grey;
}

.header-3 {
  font-size: 16px;
}

#nav {
    position: relative;
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;

    a {
        text-decoration: none;
        color: $off-white;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        padding-inline-start: 0px;
        flex-wrap: wrap;
    }
      
    li {
        padding: 8px;
        margin: 0 12px;
        font-weight: 600;

        a {
            border-radius: 6px;
            font-family: 'Open Sans', Avant Garde, Avantgarde, sans-serif;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .25px;
            padding: 10px;
            color: $grey-0;
        }
    
        a:hover {
            background-color: $bluegrey-dark-5;
            //box-shadow: inset 0 1px 0 $bluegrey-dark-6;
            color: white;
            font-weight: 600;
        }
    }
  }

  .outside-container {
    padding: 2em 1.5em;
  }
  
  .main-container {
    margin: 0 auto;
    background-color: white;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 0 1px 5px rgba(114, 114, 114, 0.5);
    max-width: 975px;
    min-height: 500px;
    padding: 1.5em;
    font-family: 'Open Sans', Avant Garde, Avantgarde, sans-serif;

  }

  .main-container a {
    color: $green-5;
    text-decoration: none;
  }

  .main-container a:hover {
    color: $rust-3;
    text-decoration: underline;
  }

  .btn {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', Avant Garde, Avantgarde, sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 10px;
    padding: 12px;
    min-width: 125px;
  }

  .positive-btn {
    background-color: $green-0;
    color: $green-6;
  }

  .positive-btn:hover{
    background-color: $green-1;
  }

  .neutral-btn {
    background-color: $grey-0;
    color: $grey-3;
  }

  .neutral-btn:hover {
    background-color: $grey-1;
  }

  #create-form {
    justify-content: center;
    min-height: inherit;
  }

  @media only screen and (max-width: 767px) {
    .main-container {
      padding: 1em;
    }

    .outside-container {
      padding: 1em 1.25em 2em 1em;
    }
}
  